arrow==1.2.1
asgiref==3.4.1
attrs==21.2.0
azure-core==1.20.0
azure-cosmos==4.2.0
binaryornot==0.4.4
bleach==4.1.0
build==0.5.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
colorama==0.4.4
cookiecutter==1.7.3
DateTime==4.3
Django==3.2.8
django-debug-toolbar==3.2.2
django-qr-code==3.0.0
django-tailwind==2.2.0
docutils==0.17.1
flake8==3.9.2
flake8-django==1.1.2
http-client==0.1.22
idna==3.2
image==1.5.33
importlib-metadata==4.8.1
iniconfig==1.1.1
Jinja2==3.0.2
jinja2-time==0.2.0
keyring==23.2.1
make==0.1.6.post2
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.0
path==16.2.0
pep517==0.11.0
Pillow==8.4.0
pkginfo==1.7.1
pluggy==1.0.0
poyo==0.5.0
py==1.10.0
pycodestyle==2.7.0
pycurl==7.44.1
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.1
PyYAML==6.0
qrcode==7.3.1
readme-renderer==29.0
render==1.0.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
segno==1.4.1
shortcuts==0.11.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
tqdm==4.62.3
twine==3.4.2
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
zope.interface==5.4.0
